* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

img {
    width: 100%;
}

video {
    width: 100%;
}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 2.5vh 5vh;
    border: 2px solid rgba(19, 40, 55, 0.5);
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(19, 40, 55, 0.5);
    background-color: #132837;
    color: #fff;
    letter-spacing: 2px;
    transition: color 0.3s linear;
    margin: 60px auto;
    display: block;
    text-align: center;

}

button:hover {
    color: rgba(105, 127, 137, 255);
}

h2 {
    font-size: 3rem;
}

/* HEADER */

header {
    background-color: #132837;
    display: flex;
    justify-content: center;
    padding: 50px 0 30px 0;
}

/*header nav {


}
*/
header nav ul li {
    list-style-type: none;
}

header a {
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    justify-content: center;
    padding: 5px;
    letter-spacing: 2px;
    transition: color 0.3s linear;
}

a:hover {
    color: rgba(105, 127, 137, 255);
}



@media screen and (min-width:768px) {}

/*768*/

@media screen and (min-width:992px) {
    header {
        padding: 0;
        justify-content: flex-end;
        background-image: url(../assets/image/topo.jpg);

    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;

    }

}

/*992*/

@media screen and (min-width:1200px) {}

/*1200*/






/*----------- MAIN INDEX------------ */
main {
    margin: 20px 0%;
}

section.mainHome h2  {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    font-size: 3rem;
}

section.mainHome p {
    font-size: 1.3rem;
    padding:  5% 5% 20%;
    text-align: justify;
}


section.part2 {
    background-color: #132837;
    color: #fff;

}

/* section part3*/

.partner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}








@media screen and (min-width:768px) {
    section h2 {
        font-size: 3rem;
    }

    section p {
        font-size: 1.5rem;

    }

}

/*768*/

@media screen and (min-width:992px) {
    section h2 {
        font-size: 4rem;
    }

    section p {
        font-size: 1.8rem;

    }

}

/*992*/

@media screen and (min-width:1200px) {}

/*1200*/

/*-------- MAIN FASHION ---------------*/


section.mainFashion h2 {
    text-align: center;
    padding: 4% 4% 8% 4%;
}

section.mainFashion h3, section.mainFashion h4 {
    text-align: center;
    margin-top: 3% ;
    margin-left:3% ;
}


section.mainFashion p {
    font-size: 1.3rem;
    text-align: justify;
    margin: 5%;

}


.eventos {
    background-color: #132837;
    color: #fff;
}
.videoHome {
   width: 90%;
   margin: 5% auto 0 auto;
   padding-bottom: 10%;
}

/*section equipoe*/
section.equipo {
   
}
div.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    
    margin-bottom: 20%;
}

.caja img{
    height: 200px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.caja {
    width: 45%;
    height: 310px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    margin: 10% 2% 5% 2%;
   
    
  }
    
  figure {
   padding: 10% 10% 30% 10%;
  }
  

  .caja figcaption {
    padding-top: 5%;
    text-align: center;
  }
  
  .caja h4 {
    font-size: 18px;
  }
  
  .caja h5 {
    margin: 5px 0 0;
    font-size: 14px;
  }



  @media screen and (min-width:768px) {
  

}/*768*/

@media screen and (min-width:992px) {
    div.galeria {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
    }
    
    .caja {
        width: 20%;
        height: 310px;
        margin: 10% 2% 5% 2%;
        
      }

}/*992*/





/*--------------- MAIN MODELS------*/

section.casting p{
    font-size: 0.9rem;
}

section.casting h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 10%;
}




div.casting {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
    margin-bottom: 20%;
}

.card img{
    height: 200px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.card {
    width: 35%;
    height: 310px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    margin: 10% 2% 5% 2%;
   
    
  }
    
  .casting figure {
   padding: 10% 10% 30% 10%;
  }
  

  .card figcaption {
    padding-top: 5%;
    text-align: center;
  }
  
  .card h4 {
    font-size: 18px;
  }
  
  .card h5 {
    margin: 5px 0 0;
    font-size: 14px;
  }



  @media screen and (min-width:768px) {
    .card {
        width: 30%;}

}/*768*/

@media screen and (min-width:992px) {
    .card {
        width: 20%;}
    div.casting {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
    }
    
    .card {
        
        height: 310px;
        margin: 10% 1% 5% 1%;
        
      }

}/*992*/




/*------MAIN CONTACTO --------*/
.mainContacto p {
    font-size: 1.5rem;
}


fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
   margin: 20% auto 10% auto;
   border: none;
   
}
legend {
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom: 10%;
}
form{
    margin: auto;

}

form input {
    height: 5vh;
}


form input , form textarea  {
    width: 100%;
    margin-bottom: 3%; 
    
}
form textarea {
    margin-top : 3%;
}

.buttonContacto {
    margin: 2% 2% 0 0 ;
    padding: 1vh 2vh;
}

.contactoPart2 {
    width: 75%;
    margin: 2% auto 2% auto;
}

.cajaContacto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.cajaContacto a {
    text-decoration: none;
    color: #132837;
    font-weight: bolder;
    font-size:1.2rem ;
}


.imgContacto.correo {
    width: 8vh;
}

.imgContacto.tel {
    width: 5vh;
    margin-left: 2.0%;
    margin-right: 2.2%;
}

.mapa {
    width: 80%;
    margin: 30% auto 30% auto;
}




@media screen and (min-width:768px) {

}/*768*/

@media screen and (min-width:992px) {

}/*992*/
fieldset{
    width: 70%;
}

@media screen and (min-width:1200px) {

    fieldset{
        width: 60%;
    }

}/*1200*/








/*------------ FOOTER ------------*/

footer {
    background-color: #132837;
    padding-bottom: 100px;
    position: relative;
    text-align: center;
}

footer p {
    color: #fff;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}