* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
} 
img{ 
    width: 100%;
}
video {
    width: 100%;
}
/* #132837 */

/* HEADER */

header {
    background-color:#132837 ;
    display : flex ;
    justify-content: center;
    padding: 50px 0 30px 0  ;
}
header nav {


}

header nav ul li {
    list-style-type: none;
}

header a {
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    justify-content: center;
    padding: 5px;
    

}



@media screen and (min-width:768px) {

  
} /*768*/

@media screen and (min-width:992px) {
   
}/*992*/

@media screen and (min-width:1200px) {
   
     }/*1200*/

/* MAIN INDEX */


/* FOOTER */

