* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
} 
img{ 
    width: 100%;
}
video {
    width: 100%;
}
/* #132837 */

/* HEADER */

@media screen and (min-width:768px) {
 
}

@media screen and (min-width:992px) {
   
}

@media screen and (min-width:1200px) {
   
     }

/* MAIN INDEM */


/* FOOTER */

